body {
    background: #dcdcdc;
   margin: 0;
    padding: 0;
    font-family: verdana;
    font-size: 0.9em;
    line-height: 1.5em;
}
#main {
    width: 1200px;
    margin: 0 auto;
   
}
#head {
    width: 100%;
    height: 120px;
    background: #e49607;
    color: #fff;
    display: grid;
}
.search-text {
    margin-left: 7px;
   overflow: hidden;
   position: absolute;
   width: 133%;
   margin-top:36px ;
  text-align: center;  
}
.logo{
    
    margin: -60px 763px 2px 66px;
}

#head h1 {
    margin: 0;
    padding: 5px 15px;
    font-family: "Times New Roman";
    font-size: 1.3em;
}
#head h2 {
    margin: 0;
    padding: 0px 60px;
    font-family: "Times New Roman";
    font-size: 1.4em;
}
#head h3 {
    margin: 0;
    text-align: center;
    font-family: "Times New Roman";
    font-size: 1.5em;
    color: #ebdb06;
}
#head h4 {
    margin: 0;
    text-align: center;
    font-family: "Times New Roman";
    font-size: 1.5em;
}

ul{
    padding: 0px;
    margin: 0px;
}
#menutop {
    height: 35px;
    background: #036ea0;
    color: #fff;
}
#menutop ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#menutop ul  li a {
    float: left;
    text-decoration: none;
    color: white;
    padding: 5px 17px;
    font-weight: bold;
    background-color: #036ea0;
    display:block;
}
#menutop ul  li  a:hover {
    color: #fff000;
    background: #146834;
}
#menutop ul  li:hover ul{
    display: block;
}
#menutop ul li{
    position: relative;
}
#menutop ul li ul{  
    position: absolute;
    top: 36px;
    left: 220px;
    display: none;
}
#menutop ul li ul li{
    width: 160px;
}
#maincontent {
    float: right;
    width: auto;
    top: 100%;
}
#content {
    margin-right: 300px;
}


#footer {
    clear: both;
    background: #144d68;
    color: white;
    padding: 20px;
    text-align: center;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .search-text {
    margin-left: 100px;
    overflow: hidden;
    position:absolute;
    width: 140%;
    margin-top:40px ;
   text-align: center;  
 }
 #mainmenu {
     margin-left: 920px;
     margin-top: -35px;
 }
 #mainmenu ul button:hover {
     color: #fff000;
     background: #146834;
 }
 #mainmenu ul button {
     color: #fff000;
     background: #146834;
 }
 .sl2 {
     
     border-bottom:2px tomato;
     float:right;
 }

 #maincontentgt{
    width: auto;
    top: 100%;
}
 
/* theloai */
.maine {
    width: 1200px;
    margin-right: 30px;
    margin-left: 100px;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
#container1 {
    width: 1180px;
    height: 200px;
    display: flex;
}
/* het the loai */